html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: white;
	background-image: url('../../screenshot.png');
	background-repeat: no-repeat;
}

.test {
	content: '';
}

h1 {
	font-size: 22px;
}
